@font-face{
	font-family: Bubblegum Sans;
	src: url("../font/BubblegumSans-Regular.ttf");
}
body{
	background-image: url('../lampada1.png');
	
}
form#login{
display: inline-block;
position: relative;
padding: 35px;
background-color: rgba(0,0,0,0.5);
top:170px;
left:50%;
margin-left:-120px;
box-shadow: 1px 1px 4px black;
color: white;

}


footer{
	position: relative;
	border: 1px solid black;
	font-family: 'Bubblegum Sans', cursive;
	color: #606060;
	font-size: 20pt;
	list-style: none;
	background-color: rgb(51, 51, 51);
	top:400px;
}
form#login input{
	border-radius: 6px;
	height: 39px;
	margin: -5px;
}
form#login h1{
	font-family: 'Bubblegum Sans', cursive;
	color: white;
	text-align: center;
}
input#btLog{
	background-color: white;
	width: 280px;

}